@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #3D52A0;
  --primary: #7091E6;
  --primary-light: #8697C4;
  --secondary: #ADBBDA;
  --background: #EDE8F5;
}

body {
  background-color: var(--background);
  color: var(--primary-dark);
}
